{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">
{% endblock %}

{% block body %}
    <h1>Mon profile</h1>

    <div class="card text-white bg-primary mt-4 mb-3">
        <p class="card-header">Votre profile</p>
        <div class="card-body">
          <h2 class="card-title text-center">{{ user.name }}</h2>
          <p class="card-title text-center">{{ user.email }}</p>
          <img class="rounded mx-auto d-block img-thumbnail avatar-profil" src="{{ asset('assets/images/avatars/' ~ user.avatar) }}" alt="Avatar">
          <p class="card-text text-center">{{ user.bio }}</p>
            <a href="{{ path('profil_edit', {'slug': user.slug}) }}" class="btn btn-warning">Modifier votre profile</a>
            <a href="{{ path('app_mailer') }}" class="btn btn-danger">Demander la suppression de votre profile</a>
        </div>
      </div>
{% endblock %}
